<form [formGroup]="form">
    <div class="form-label-group">
        <label>First Name*</label>
        <input type="text" class="form-control" name="firstName" formControlName="firstName" />
    </div>
    <div class="form-label-group">
        <label>Last Name*</label>
        <input type="text" class="form-control" name="lastName" formControlName="lastName" />
    </div>
    <div class="form-label-group">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone" formControlName="phone" />
    </div>
    <div class="form-label-group">
        <label>Street*</label>
        <input type="text" class="form-control" name="street" formControlName="street" />
    </div>
    <div class="form-label-group">
        <label>City*</label>
        <input type="text" class="form-control" name="city" formControlName="city" />
    </div>
    <div class="form-label-group">
        <label>State*</label>
        <input type="text" class="form-control" name="state" formControlName="state" />
    </div>
    <div class="form-label-group">
        <label>Zip*</label>
        <input type="text" class="form-control" name="zip" formControlName="zip" />
    </div>
</form>